[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
scikit-learn = "*"
pandas = "*"
pyarrow = "*"
nbconvert = "*"
pipenv = "*"
typer = "*"

[dev-packages]

[requires]
python_version = "3.10"
